
.left{
	background-color: #34ebb4;
}

.right{
	background-color: #196b4a;
	text-align: right;
	font-style: italic;
	font-size: 12px;

}

.nav-background{
	background-color: #f5b342;


}

i.Socialss{
	font-size: 24px;
	font-style: italic;
}

